<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>

<div align="center" style="border: double">
   <h1>Your Company Inventory</h1>
</div>




<body>
<br />
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}

        <br /><br />

        <a href={% url 'AddNew' %}>Add New Item</a>

    </div>


<form method="post" action={% url 'main' %}>

    {% csrf_token %}

        <div align="right" style="margin-top: -4%">

            <label for="searchbar"><img src={% static 'admin/img/search.svg' %} alt="Search" /></label>
            <input type="text" size="40" name="search" value="" id="searchbar" autofocus />
            <input type="submit" value="Search" name="Search"  />
        </div>
<br />
<br />
    {% if Search %}
            {% if Message %}
                {{ Message }}
            {% endif %}

        <table style= "position:absolute;width:90%;height:116px; margin-left: 45px" id="Table1" border="1" >

            <th>Hostname</th>
            <th>Description</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Add/Modify Date</th>

            {% for item in Search %}
                <tr align="center">
                    <td>{{ item.hostname }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.model }}</td>
                    <td>{{ item.serial }}</td>
                    <td>{{ item.date }}</td>
                    <td> <a href="/edit?id={{ item.id }}">Edit</a> </td>
                    <td> <a href="/delete?id={{ item.id }}" >Delete</a> </td>

                </tr>
            {% endfor %}

        </table>

    {% endif %}

    {% if not Search %}
            {% if Message %}
                {{ Message }}
            {% endif %}
        <table style= "position:absolute;width:90%;height:116px; margin-left: 45px" id="Table1" border="1" >

            <th>Hostname</th>
            <th>Description</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Add/Modify Date</th>

            {% for item in CompDB %}
                <tr align="center">
                    <td>{{ item.hostname }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.model }}</td>
                    <td>{{ item.serial }}</td>
                    <td>{{ item.date }}</td>


                </tr>
            {% endfor %}

        </table>
    {% endif %}


</form>

</body>
</html>
